<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <table class="checkerboard">
       {% for i in range(times):%}
        <tr>
            {% for j in range(cols)%}
            <!-- <td class="color{{(i+j)%2+1}}"></td> -->
            {%if (i+j)%2 ==0%}
                <td class style = "background-color: {{color1}}"></td>
                {%else%}
                    <td class style = "background-color: {{color2}}"></td>
            {%endif%}

            {%endfor%}
        </tr>
        
        {%endfor%}
</table>
</body>
</html>