.checkerboard{
    border-collapse: collapse;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
td{
    width: 50px;
    height: 50px;
}
.color1{
    border: 3px solid black;
    background-color: white;
}
.color2{
    border: 3px solid black;
    background-color: black;
}